/*ОБЩЕЕ*/
body {
	margin: 0;	
	padding: 0;
	font-family: 'Cuprum', 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #000000; 
	text-transform: none;

	background-color: #ffffff;
	
}

html { 
	box-sizing: border-box; 
}

img { 
	max-width: 100%; 
}

a { 
	text-decoration: none ;
}

.button {
	/*font: inherit;*/
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	

	border: none;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*ВЕРХНЯЯ НАВИГАЦИОННАЯ ПАНЕЛЬ*/
.main-navigation {
	font-size: 17px;
	font-height: 18px;
	color: #ffffff;

	background-color: #293449;
}

.main-navigation .search {
	background-color: #293449;
	color: #ffffff;
}

.main-navigation .search:active {
	background-color: #ffffff;
	color: #000000;
}

.main-navigation .button-basket {
	font-size: 17px;
	line-height: 18px;
}

.main-navigation .button-basket:active {
	color: #b2b2b2;
}

.checkout {
	font-size: 17px;
	line-height: 18px;
	background-color: #63a63e;
	color: #ffffff;
}

.checkout:hover,
.checkout:focus {
	background-color: #5fbb2d;
	color: #ffffff;
}

.checkout:active {
	background-color: #518534;
	color: #a8c29a;
}

/*МЕНЮ НАВИГАЦИЯ ПО САЙТУ*/
.site-navigation {
	list-style: none;
}

.site-navigation {
	font-size: 17px;
	font-height: 17px;
	color: #ffffff;

	background-color: #32425c; 
	box-shadow: 0px 5px 0 0 #293449;
}

.site-navigation .button:focus,
.site-navigation .button:hover {
	background-color: #273652; 
}

.site-navigation .button:active {
	background-color: #1d2739; 
	color: #b2b2b2;
}

.background {
	background-color: #f3f7f9;
}
/*ЛОГО*/

.logo-tehnomart {
	background-color: #ee3643;
	box-shadow: 0px 5px 0 0 #b52933;
	width: 220px;
	height: 47px;
}

.logo-tehnomart:hover,
.logo-tehnomart:focus {
	background-color: #ca2c37;
	box-shadow: 0px 5px 0 0 #8e1e26;
}
/*ОПИСАНИЕ ИНТЕРНЕТ МАГАЗИНА*/
.header-info {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}
/*КОНТАКТЫ МАГАЗИНА*/
.header-contacts ul{
	list-style: none;
	text-align: center;
}

.contacts-phone {
	font-size: 21px;
	line-height: 21px;

	color: #ee3643;
	border: 2px solid #ffffff;

}

.contacts-address {
	font-size: 14px;
	line-height: 24px;

	color: #32425c;
}
/*ЛИЧНЫЙ КАБИНЕТ*/
 .user-navigation {
 	list-style: none;
 }

 .user-navigation a {
 	color: #000000;
 	background-color: #ffffff;
 }

 .user-navigation .button:focus,
 .user-navigation .button:hover {
 	color: #ee3643;
 }

 .user-navigation .button:active,
 .user-navigation .button:active {
 	color: #b2b2b2;
 }
/*=============ГЛАВНАЯ СТРАНИЦА -----НАЧАЛО======================*/
/*ПОПУЛЯРНЫЕ ТОВАРЫ */
 .list-products h2,
 .popular-products {
 	font-size: 30px;
 	line-height: 30px;
 	font-weight: 400;
 	text-transform: uppercase;

 	color: #32425c;
 }

.back-popular-products {
 	background-color: #f9f5f0;
 	background-image: url("img/back-popular-products.png");
 	background-position: top center;
 	background-repeat: no-repeat;
 }

.list-products .button-popular-products a,
.button-popular-products,
.list-products .button-popular-products,
.about .button-popular-products,
.contacts a {
	font: inherit;
	width: 253px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 5px;
	
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	
	color: #ffffff;
}

.button-popular-products:focus,
.button-popular-products:hover {
	background-color: #ca2c37;
}

.button-popular-products:active {
	background-color: #ba2732;
}

.list-products a {
	color: #000000;
	font-weight: bold;
}

.list-products .delete {
	text-decoration: line-through;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;

	color: #a9a9a9;
}

.catalog-products .price, /*свойство для цены (красной) каталог и главная*/
.list-products .price {
	display: inline;
	background-color: #ee3643;
	background-image: url("img/svg/red-button.svg");
	background-position: center;
	background-repeat: no-repeat;

	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;

	color: #ffffff;
}

.list-products ul{
	list-style: none;
}

.list-products li {
	border: 1px solid #eaeaea;
}

.list-products li:focus,
.list-products li:hover {
	box-shadow: 10px 10px 50px 0px #000000;
}

/*.popular-products-active li::before {
	background-image: none;
}*/
/*ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ*/
.popular-manufacturer li:active {
	box-shadow: 5px 5px 30px 0px #000000;
	opacity: 0.5;
}

/* О НАС*/
.contacts h2,
.about h2,
.service h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about  ul {
	list-style: none;
}

.about p,
.contacts p,
.service p {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about .list {
	font-size: 18px;
	line-height: 20px;
}
/*=============ГЛАВНАЯ СТРАНИЦА -----КОНЕЦ======================*/
 /*=======КАТАЛОГ====== НАЧАЛО*/
 /*breadcrumbs*/
  .list-breadcrumbs {
	list-style: none;
	color: #000000;
}
.list-breadcrumbs a {
	color: #000000;
}

.list-breadcrumbs a:focus,
.list-breadcrumbs a:hover {
	box-shadow: 0 0 0 0 #ffffff;
}

.sorting {
	list-style: none;
}

/*H2 ПЕРФОРАТОРЫ*/

.background-h {
	background-color: #f2f6f8;
}

.catalog h2 {  
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}
/*ФИЛЬТР*/
.catalog legend {
	font-family: 'PS Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
}

input[type="checkbox"],
input[type="radio"] {
  	display: none;
}

input[type="checkbox"] +label::before,
input[type="radio"] +label::before {
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	margin-right: 8px;
	vertical-align: middle;
	border: 3px solid #ffffff;
	box-shadow: 0 0 0 3px #a0a0a0;
}

input[type="radio"] +label::before {
	border-radius: 50%;
}

input[type="radio"]:checked + label::before ,
input[type="checkbox"]:checked +label::before {
	background-color: #a0a0a0;
	box-shadow: 0 0 0 3px #a0a0a0;
}

.button-show {
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #a0a0a0;
}
 
 
.catalog-products ul {
	list-style: none;
}

.catalog-products li {
	border: 1px solid #eaeaea;
	border-radius: 5px;
}

.catalog-products li:focus,
.catalog-products li:hover {
	box-shadow: 10px 10px 50px 0px #000000;
}

.catalog-products .delete {
	text-decoration: line-through;
	color: #a9a9a9;
}

.catalog-products a {
	color: #000000;
}



/*ПАГИНАЦИЯ*/
.pagination li {
	list-style: none;
	border: 1px solid #b2b2b2;
}

.pagination a {
	color: #000000;
}

.pagination a:hover,
.pagination a:focus {
	border: 1px solid #999696;
}

.pagination a:active {
	border: 1px solid #ee3643;
}
/*ИНФО*/
.about-catalog h4 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.about-catalog p {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
}
 /*========КАТАЛОГ =======КОНЕЦ*/

/*ГЛАВНАЯ ФУТЕРА*/
.footer-nav ul {
	list-style: none;
}
/*НАВИГАЦИЯ ПО САЙТУ В ФУТЕРЕ*/
.footer-nav a {
	background: none;
	font-size: 18px;
	line-height: 24px;
}

.button a:hover,
.button a:focus,
.button-second-line a:hover,
.button-second-line a:focus {
	text-decoration: underline;
}

.button a:active { 
	color: #8b96a4;
	text-decoration: none;
}

.footer-button .button-second-line,
.feedback .button-second-line,
.feedback .button,
.footer-copyright .button {
	color: #e1ce80;
}

.button-second-line a:hover,
.button-secon-line a:focus,
.feedback .button:hover,
.feedback .button:focus,
.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #e1ce80;
	text-decoration: underline;
}

.main-footer {
	color: #ffffff;

	background-color: #32425c; 
	background-image: url("img/footer.png");
	background-position: top center;
	background-repeat: repeat;	
}
/*ВТОРАЯ ЧАСТЬ ФУТЕРА - НИЖНЯЯ*/
.second-footer {
	color: #ffffff;

	background-color: #293449; 
	background-image: url("img/second-footer.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.footer-button .button:focus,
.footer-button .button:hover {
	text-decoration: underline;
}

.footer-button .button:active {
	color: #b2b2b2;
	text-decoration: none;
}

.footer-button .button-second-line:active {
	color: #998a6e;
	text-decoration: none;
}

.footer-social img {
	background-color: #212a3a;
	border: 10px solid #212a3a;
	border-radius: 40px;
}

.footer-social img:hover,
.footer-social img:focus {
	background-color: #ee3643;
	border: 10px solid #ee3643;
	border-radius: 40px;
}

.footer-social img:active {
	background-color: #ee3643;
	border: 10px solid #ee3643;
	border-radius: 40px;
}

.footer-copyright {
	text-align: center;
}

.feedback .button:active,
.footer-copyright .button:active {
	color: #ee3643;
	text-decoration: none;
}

.feedback b,
.footer-copyright b {
	font-size: 16px;
	line-height: 18px;
}

.map-pop,
.login-pop {
	display: none;
}